/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "inter";
	vertical-align: baseline;
    background-color: #152A38;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset */

/* header */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    border-bottom-right-radius: 100px;
    background-color: #D1D4C9;
}
.iconContainer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    background-color: #d1d4c900;
    padding: 0 5vw 0 5vw;
}
.openNavbar{
    display: none;
}
.logoContainer{
    height: 9vh;
    width: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
header img{
    fill: #D1D4C9;
    background-color: #d1d4c900;
    height: 7vh;
    width: 7vh;
    cursor: pointer;
}
header img:nth-child(3){
    visibility: hidden;
}

nav{
    top: 0;
    left: 0;
    margin-top: 10vh;
    position: absolute;
    height: 60vh;
    width: 35vw;
    background-color: #D1D4C9;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid #29435C;
    border-bottom-left-radius: 100px;
    z-index: 2;
}
nav div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d1d4c900;
    height: 23vh;
    width: 80%;
}
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    width: 80%;
    height: 10vh;
    background-color: #29435C;
    color: #D1D4C9;
    font-size: 4vh;
    cursor: pointer;
}
nav div a{
    width: 100%;
}

.closeNavBar{
    display: none;
    z-index: 1;
    background-color: #d1d4c900;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* homepage */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homepageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.homepageContainer img{
    height: 40vh;
    width: 38vh;
    background-color: #D1D4C9;
    border-radius: 10px;
    padding: 2vh;
}
.homepageContainer h1{
    width: 40vh;
    text-align: center;
    color: #D1D4C9;
    font-size: 3vh;
    font-weight: 400;
    padding: 5vh 1vh 5vh 1vh;
}
.homepageContainer button{
    border: none;
    border-radius: 20px;
    width: 42vh;
    height: 10vh;
    background-color: #29435C;
    color: #D1D4C9;
    font-size: 4vh;
    cursor: pointer;
}

/* categorias */

.categoriesPageContainer{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.categoriesPageContainer h1{
    font-family: "inter";
    font-size: 2.5vw;
    width: 16vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #D1D4C9;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.categoriesContainer{
    display: flex;
    justify-content: space-between;
    width: 34vw;
    height: 18vw;
}
.categoriesContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categoriesContainer img{
    background-color: #D1D4C9;
    border-radius: 10px;
    height: 15vw;
    width: 15vw;
    cursor: pointer;
    -webkit-user-drag: none;
}

/* sobre */

.aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100vw;
    overflow-y: auto;
}
footer{
    height: 10vh;
    width: 100vw;
    background-color: #D1D4C9;
    border-top-left-radius: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.connectionsContainer{
    background-color: #D1D4C9;
    padding-top: 10px;
    height: 4vh;
    width: 12vw;
    display: flex;
    justify-content: space-between;
}
.connectionsContainer a{
    background-color: #D1D4C9;
    overflow-wrap: anywhere;
}
a{
    color: #D1D4C9;
}
.connectionsContainer img{
    background-color: #D1D4C9;
    height: 4vh;
}
footer h2{
    font-size: 2vh;
    padding-bottom: 10px;
    font-weight: 300;
    max-width: 80vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #d1d4c900;
}
.textContainer{
    height: 70vh;
    width: 90vw;
    margin: 5vh 0 5vh 0;
}
.textContainer h1,p,li{
    color: #D1D4C9;
    padding: 1vh 0 1vh 0;
}

/* paginas */

.infoContainer{
    height: 80vh;
    width: 90vw;
    overflow-y: scroll;
}

.infoContainer h1{
    color: #D1D4C9;
    padding-top: 3vh;
}

.infoContainer h1::before{
    content:"•";
}

.infoContainer h2{
    color: #D1D4C9;
    padding: 2vh 0 2vh 0;
}

.infoContainer h3{
    color: #D1D4C9;
}

.infoContainer p{
    font-family: "arial";
    font-style: italic;
    padding-bottom: 3vh;
}


* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 12px;
}

/* responsividade */

@media only screen and (max-width: 800px) {
    nav{
        width: 100vw;
        height: 90vh;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 0;
    }
    header{
        border-bottom-right-radius: 0;
    }
    footer{
        border-top-left-radius: 0;
    }
    .connectionsContainer{
        width: 50vw;
    } 
    .categoriesContainer{
        display: flex;
        justify-content: space-between;
        width: 80vw;
        height: 50vw;
    }
    .categoriesContainer h1{
        font-size: 4vw;
        width: 25vw;
    }
    .categoriesContainer img{
        height: 35vw;
        width: 35vw;
    }
}
@media only screen and (max-width: 1000px) {
    .connectionsContainer{
        width: 30vw;
    }
}
@media only screen and (min-width: 1200px) {
    nav{
        width: 30vw;
    }
}